/*COLOR PALLETE
#011627 Rich BLack
#FDFFFC Baby Powder
#2EC4B6 Tiffany Blue
#E71D36 Rose Madder
#FF9F1C Orange Peel
*/

/*HEADER*/

/*NAVBAR*/


/*HERO VID*/
#hero {width: 800px; height: 200px;
    margin-left: auto; 
    margin-right: auto;
    display: block;}