/*COLOR PALLETE
#FFE09E PIGGY PINK

*/




/**/
body {background-color: #FFE0E9;}

/*NAVBAR*/
.navbar-custom {background-color: #FFE0E9;}
.navbar-brand {color: black;}
.navbar-nav.navbar-right li a {
    color: black;
}
.navbar-nav li a {color:black;}


/*CONTAINER - HP*/
.container {padding-top: 120px;}
